#!/usr/bin/env bash
#Use a more optimized version of direnv for Nix. https://github.com/nix-community/nix-direnv
if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
fi

watch_file devenv.nix
watch_file devenv.yaml
watch_file devenv.lock
watch_file lib/squidbox/devenv.nix

eval "$(devenv print-dev-env)"%

if [ -f .envrc.local ]; then
  echo "Reading local settings from .envrc.local"
  # shellcheck disable=SC1091
  source .envrc.local
fi

